xml-resources/web-service-references/Cliente/wsdl/localhost_8080/velobackend/Cliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://velo.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://velo.com.co/" name="Cliente">
<types>
<xsd:schema>
<xsd:import namespace="http://velo.com.co/" schemaLocation="http://localhost:8080/velobackend/Cliente?xsd=1"/>
</xsd:schema>
</types>
<message name="getMenu">
<part name="parameters" element="tns:getMenu"/>
</message>
<message name="getMenuResponse">
<part name="parameters" element="tns:getMenuResponse"/>
</message>
<message name="guardarComida">
<part name="parameters" element="tns:guardarComida"/>
</message>
<message name="guardarComidaResponse">
<part name="parameters" element="tns:guardarComidaResponse"/>
</message>
<message name="guardarCategoria">
<part name="parameters" element="tns:guardarCategoria"/>
</message>
<message name="guardarCategoriaResponse">
<part name="parameters" element="tns:guardarCategoriaResponse"/>
</message>
<message name="getCategorias">
<part name="parameters" element="tns:getCategorias"/>
</message>
<message name="getCategoriasResponse">
<part name="parameters" element="tns:getCategoriasResponse"/>
</message>
<message name="hacerPedido">
<part name="parameters" element="tns:hacerPedido"/>
</message>
<message name="hacerPedidoResponse">
<part name="parameters" element="tns:hacerPedidoResponse"/>
</message>
<message name="getPedidos">
<part name="parameters" element="tns:getPedidos"/>
</message>
<message name="getPedidosResponse">
<part name="parameters" element="tns:getPedidosResponse"/>
</message>
<message name="getPedidosPendientes">
<part name="parameters" element="tns:getPedidosPendientes"/>
</message>
<message name="getPedidosPendientesResponse">
<part name="parameters" element="tns:getPedidosPendientesResponse"/>
</message>
<message name="getPedidosEntregados">
<part name="parameters" element="tns:getPedidosEntregados"/>
</message>
<message name="getPedidosEntregadosResponse">
<part name="parameters" element="tns:getPedidosEntregadosResponse"/>
</message>
<message name="entregarPedido">
<part name="parameters" element="tns:entregarPedido"/>
</message>
<message name="entregarPedidoResponse">
<part name="parameters" element="tns:entregarPedidoResponse"/>
</message>
<portType name="Cliente">
<operation name="getMenu">
<input wsam:Action="http://velo.com.co/Cliente/getMenuRequest" message="tns:getMenu"/>
<output wsam:Action="http://velo.com.co/Cliente/getMenuResponse" message="tns:getMenuResponse"/>
</operation>
<operation name="guardarComida">
<input wsam:Action="http://velo.com.co/Cliente/guardarComidaRequest" message="tns:guardarComida"/>
<output wsam:Action="http://velo.com.co/Cliente/guardarComidaResponse" message="tns:guardarComidaResponse"/>
</operation>
<operation name="guardarCategoria">
<input wsam:Action="http://velo.com.co/Cliente/guardarCategoriaRequest" message="tns:guardarCategoria"/>
<output wsam:Action="http://velo.com.co/Cliente/guardarCategoriaResponse" message="tns:guardarCategoriaResponse"/>
</operation>
<operation name="getCategorias">
<input wsam:Action="http://velo.com.co/Cliente/getCategoriasRequest" message="tns:getCategorias"/>
<output wsam:Action="http://velo.com.co/Cliente/getCategoriasResponse" message="tns:getCategoriasResponse"/>
</operation>
<operation name="hacerPedido">
<input wsam:Action="http://velo.com.co/Cliente/hacerPedidoRequest" message="tns:hacerPedido"/>
<output wsam:Action="http://velo.com.co/Cliente/hacerPedidoResponse" message="tns:hacerPedidoResponse"/>
</operation>
<operation name="getPedidos">
<input wsam:Action="http://velo.com.co/Cliente/getPedidosRequest" message="tns:getPedidos"/>
<output wsam:Action="http://velo.com.co/Cliente/getPedidosResponse" message="tns:getPedidosResponse"/>
</operation>
<operation name="getPedidosPendientes">
<input wsam:Action="http://velo.com.co/Cliente/getPedidosPendientesRequest" message="tns:getPedidosPendientes"/>
<output wsam:Action="http://velo.com.co/Cliente/getPedidosPendientesResponse" message="tns:getPedidosPendientesResponse"/>
</operation>
<operation name="getPedidosEntregados">
<input wsam:Action="http://velo.com.co/Cliente/getPedidosEntregadosRequest" message="tns:getPedidosEntregados"/>
<output wsam:Action="http://velo.com.co/Cliente/getPedidosEntregadosResponse" message="tns:getPedidosEntregadosResponse"/>
</operation>
<operation name="entregarPedido">
<input wsam:Action="http://velo.com.co/Cliente/entregarPedidoRequest" message="tns:entregarPedido"/>
<output wsam:Action="http://velo.com.co/Cliente/entregarPedidoResponse" message="tns:entregarPedidoResponse"/>
</operation>
</portType>
<binding name="ClientePortBinding" type="tns:Cliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarComida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedidosEntregados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="entregarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Cliente">
<port name="ClientePort" binding="tns:ClientePortBinding">
<soap:address location="http://localhost:8080/velobackend/Cliente"/>
</port>
</service>
</definitions>