xml-resources/web-service-references/Cliente/wsdl/localhost_8080/velobackend/Cliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://velo.com.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://velo.com.co/">

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="comida" type="tns:comida"/>

<xs:element name="comidaCantidad" type="tns:comidaCantidad"/>

<xs:element name="entregarPedido" type="tns:entregarPedido"/>

<xs:element name="entregarPedidoResponse" type="tns:entregarPedidoResponse"/>

<xs:element name="getCategorias" type="tns:getCategorias"/>

<xs:element name="getCategoriasResponse" type="tns:getCategoriasResponse"/>

<xs:element name="getMenu" type="tns:getMenu"/>

<xs:element name="getMenuResponse" type="tns:getMenuResponse"/>

<xs:element name="getPedidos" type="tns:getPedidos"/>

<xs:element name="getPedidosEntregados" type="tns:getPedidosEntregados"/>

<xs:element name="getPedidosEntregadosResponse" type="tns:getPedidosEntregadosResponse"/>

<xs:element name="getPedidosPendientes" type="tns:getPedidosPendientes"/>

<xs:element name="getPedidosPendientesResponse" type="tns:getPedidosPendientesResponse"/>

<xs:element name="getPedidosResponse" type="tns:getPedidosResponse"/>

<xs:element name="guardarCategoria" type="tns:guardarCategoria"/>

<xs:element name="guardarCategoriaResponse" type="tns:guardarCategoriaResponse"/>

<xs:element name="guardarComida" type="tns:guardarComida"/>

<xs:element name="guardarComidaResponse" type="tns:guardarComidaResponse"/>

<xs:element name="hacerPedido" type="tns:hacerPedido"/>

<xs:element name="hacerPedidoResponse" type="tns:hacerPedidoResponse"/>

<xs:element name="pedido" type="tns:pedido"/>

<xs:complexType name="getCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:comida" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comida">
<xs:sequence>
<xs:element name="caracteristicas" type="xs:string" minOccurs="0"/>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="disponibilidad" type="xs:boolean" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precioBase" type="xs:int" minOccurs="0"/>
<xs:element name="tiempoPreparacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarComida">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="disponibilidad" type="xs:boolean" minOccurs="0"/>
<xs:element name="precioBase" type="xs:int" minOccurs="0"/>
<xs:element name="tiempoPreparacion" type="xs:string" minOccurs="0"/>
<xs:element name="caracteristicas" type="xs:string" minOccurs="0"/>
<xs:element name="idCategoria" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarComidaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosPendientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="comidaCantidad" type="tns:comidaCantidad" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="entregado" type="xs:boolean" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comidaCantidad">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
<xs:element name="comida" type="tns:comida" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPedidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hacerPedido">
<xs:sequence>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="comidas" type="tns:comidaCantidad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hacerPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entregarPedido">
<xs:sequence>
<xs:element name="idPedido" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entregarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarCategoriaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosEntregados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPedidosEntregadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>